<h1>All Restaurants</h1>

<% for (const iterator of data) { %>
   <div>
      <div>
         <%= iterator.name %>
      </div>
      <div>
         <%= iterator.address %>
      </div>
      <div>
         <%= iterator.rating %>
      </div>
      <div>
         <a href="/restaurants/edit/<%= iterator.id %>">edit</a>
         <a href="/restaurants/delete/<%= iterator.id %>">delete</a>
      </div>
      ----
   </div>
<% } %>
