<h3>All Restaurants</h3>

<% for (const iterator of data) { %>
   <div class="card" style="width: 300px;">
      <div>
         <h4 class="card-title">
            <a href="/restaurants/<%= iterator.restaurantID %>">
               <%= iterator.name %>
            </a>
         </h4>
      </div>
      <div>
         <%= iterator.type %>
      </div>
      <div>
         <%= iterator.city %>
      </div>
      <div>
         <%= iterator.address %>
      </div>
      <div>
         Rating: <%= iterator.rating %>
      </div>
   </div>
<% } %>
